:root{
    font-size: 16px;
    --transition-speed: 150ms linear;
    --icon-color-primary: linear-gradient(45deg, #f64f59 0%, #c471ed 50%, #12c2e9 100%);
    --box-shadow-primary: 5px 5px 7px 0px rgba(0,0,0,0.3);
    --border-radius-primary: 10px;
}
html[data-theme="light"]{
    --background-color-primary: #fcfcfc;
    --background-color-secondary: #f1efef;
    --font-color-primary: #222425;
}
html[data-theme="dark"]{
    --background-color-primary: #23232e;
    --background-color-secondary: #141418;
    --font-color-primary: #fcfcfc;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}
body::-webkit-scrollbar{
    width: 0.35rem;
}
body::-webkit-scrollbar-track{
    background: #fcfcfc;
}
body::-webkit-scrollbar-thumb{
    background: #23232e;
}
.hidden{
    display: none;
}
div[id$="module"].minimized{
    height: 70px;
}
.backdrop{
    position: absolute;
    inset: 0;
    z-index: 5;
    background: rgba(0, 0, 0, .4);
}
.body-blur > *:not(.module){
    filter: blur(5px);
}
.navbar{
    position: fixed;
    z-index: 50;
    background: var(--background-color-primary);
    box-shadow: 0px 0px 10px -1px rgb(0 0 0 / 30%);
    transition: width var(--transition-speed), height var(--transition-speed);
    overflow: hidden;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
    cursor: pointer;
}
.nav-logo{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    background: var(--background-color-secondary);
    letter-spacing: 0.1rem;
    border-top-left-radius: var(--border-radius-primary);
    border-top-right-radius: var(--border-radius-primary);
}
i.fas{
    background: var(--icon-color-primary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--font-color-primary);
    filter: grayscale(100%) opacity(.8);
    transition: opacity var(--transition-speed);
}
.nav-item:hover .nav-link{
    filter: grayscale(0%) opacity(1);
}
.nav-item:hover{
    background: var(--background-color-secondary);
}
.link-text{
    display: none;
    margin-left: 15px;
}
.nav-link i{
    min-width: 35px;
    margin: 0 20px;
    text-align: center;
}
.nav-link i:before{
    font-size: 1.5rem;
}
.nav-logo i:before{
    font-size: 2.5rem;
}
.nav-item:last-child{
    margin-top: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.switch-container{
    display: none;
}
.module-functions-wrapper{
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.module-function-button{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
@media (min-width: 769px){
    .navbar{
        width: 5rem;
        height: 5rem;
        border-radius: var(--border-radius-primary);
        top: 2.5vh;
        left: 2.5vw;
    }
    .navbar:hover{
        width: 14rem;
    }
    .navbar:hover .link-text{
        display: block;
    }
    .navbar:hover .switch-container{
        display: flex;
    }
    .navbar:hover .nav-logo i{
        transform: rotate(-180deg);
    }
}
@media (max-width: 768px){
    .navbar{
        height: 5rem !important;
        width: 100vw;
        bottom: 0;
        left: 0;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .nav-item{
        width: auto;
    }
    .nav-link{
        justify-content: center;        
    }
    .nav-logo{
        display: none;
    } 
}
@media(max-width:600px){
    .nav-link i {
        margin: 0 5px;
    }
}