#weather-module-wrapper{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#weather-module{
    position: relative;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: var(--border-radius-primary);
    background-color: var(--background-color-secondary);
    box-shadow: var(--box-shadow-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color-primary);
    text-align: center;
}
#weather-module .container{
    width: 100%;
}
#weather-module .search-input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: var(--border-radius-primary);
    background-color: var(--background-color-primary);
    color: var(--font-color-primary);
    padding: 10px 15px;
    text-transform: capitalize;
}
#weather-module .error-text-container{
    position: absolute;
    text-align: left;
}
#weather-module .error-text{
    font-size: 11px;
    color: #e94552;
}
#weather-module .title.city{
    font-size: 24px;
    font-weight: 900;
}
#weather-module .title.date{
    font-size: 12px;
    font-weight: 400;
}
#weather-module .specification{
    margin-bottom: 5px;
}
#weather-module .specification[data-spec="temperature"]{
    font-size: 46px;
    font-weight: 900;
}
#weather-module .specification[data-spec="description"]{
    font-size: 18px;
    font-weight: 400;
}
#weather-module .specification[data-spec="to-from"]{
    font-size: 10px;
    font-weight: 400;
}